.btnScroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 6px;
  background-color: white;
  color: #ff514e;
  border-radius: 50%;
  min-width: unset;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    color: white;
    background-color: #ff514e;
  }
}
