.toast-wrapper {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}

.toast-icon {
  position: relative;
  background-color: white;
  transform: translateY(-10px);

  & svg {
    position: absolute;
    background-color: #fff;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    padding: 3px;
  }
}

.toast-content {
  color: black;
  margin: 10px 0 10px 40px;

  & h4 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  & p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 6px;
  }
}
