.wrapper {
  & .MuiOutlinedInput-root {
    border-radius: 30px;
    margin: 6px 0;
  }

  & .MuiInputLabel-root {
    font-size: 1.4rem;
  }

  & .MuiFormHelperText-root {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
