@import "assets/styles/mixins";
@import "assets/styles/colors";

@mixin d-flex {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-login-fb {
  @include d-flex;
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 284px;
  height: 48px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px;
  border-radius: 30px;
  text-transform: capitalize;
  color: $primary-black-color;
  background-color: $primary-white-color;
  border: 0.2rem solid #dce0e3;
  margin-top: 10px;
  cursor: pointer;
}

.form-login {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  @include center;
  width: 600px;
  height: 80%;
  background-color: $primary-white-color;
  border-radius: 8px;
  z-index: 100;

  @include respond(mobile) {
    width: 80%;
    height: 90%;
  }

  @include respond(mobileMedium) {
    width: 100%;
    height: 100%;
  }

  @include respond(mobileSmall) {
    width: 100%;
    height: 100%;
  }

  &-main {
    margin-top: 24px;

    @include respond(mobileMedium) {
      margin-top: 50px;
    }

    @include respond(mobileSmall) {
      margin-top: 20px;
    }
  }

  &-img {
    width: 72px;
    height: 72px;
    margin: 30px auto 10px;
  }

  &-heading {
    color: $primary-black-color;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    margin: 10px 0;

    @include respond(mobile) {
      font-size: 2rem;
    }
  }

  &-help {
    text-align: center;

    & p {
      color: $disabled-color;
      font-size: 1.6rem;
      line-height: 1.7rem;
      user-select: none;

      & span {
        padding-left: 4px;
        cursor: pointer;
        color: $primary-red-color;
        font-weight: 500;
      }
    }
  }
}

.login-options {
  position: absolute;
  top: 56%;
  @include center;
  @include d-flex;
  flex-direction: column;
  margin-top: 16px;
}

.login-option {
  position: relative;
  @include d-flex;
  justify-content: flex-start;
  width: 280px;
  height: 44px;
  margin: 10px auto;
  border-radius: 30px;
  border: 0.2rem solid #dce0e3;
  user-select: none;
  cursor: pointer;

  & img {
    width: 2.4rem !important;
    height: 2.4rem !important;
    margin-left: 8px !important;
    margin-right: 20px !important;
  }

  & span {
    color: $primary-black-color;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 20px;
  }
}
